DOMAIN=REPLACE_WITH_VM_STATIC_IP.nip.io
DB_HOST=REPLACE_WITH_CLOUD_SQL_PUBLIC_IP
DB_APP_PW=REPLACE_WITH_STRONG_PASSWORD
ADMIN_USERNAME=admin
ADMIN_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
JWT_SECRET=REPLACE_WITH_64_CHAR_HEX_STRING
